<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.startup">
		<startup class="qwickie.QWickieActivator" />
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="autosave.preferences.AutoSavePreferencePage"
			id="autosave.preferences.AutoSavePreferencePage"
			category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
			name="AutoSave">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="autosave.preferences.PreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.equinox.preferences.preferences" />
</plugin>
